*~

.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/**
.config/qutebrowser/greasemonkey/**
.config/qutebrowser/qsettings/**
.config/qutebrowser/quickmarks

.config/emacs/auto-save-list
.config/emacs/eln-cache
.config/emacs/elpa
.config/emacs/ido.last
